@using BlazorApp.Data;
@inject BlazorApp.Service.ThemeService ThemeService;

<PageTitle>前后端学习记录</PageTitle>



<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@theme.ThemeType" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@theme.ThemeType">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>



@code{
    private Theme theme;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        theme = ThemeService.GetTheme();
    }
}
